body {
    background-color: black; 
    color: white; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


p {
    width: 500px; 
    height: 100px; 
    font-size: 50px; 
    margin: 10px auto; 
    padding: 10px;
    box-sizing: border-box; 
    text-align: center; 
}


#para1 {
    background-color: red; 
    color: yellow; 
}

#para2 {
    background-color: blue; 
    color: white; 
}

#para3 {
    background-color: green; 
    color: black; 
}

#para4 {
    background-color: orange; 
    color: black; 
}

#para5 {
    background-color: purple; 
    color: white; 
}

#para6 {
    background-color: cyan; 
    color: black; 
}

#para7 {
    background-color: magenta; 
    color: white; 
}

#para8 {
    background-color: brown; 
    color: beige; 
}

#para9 {
    background-color: gray; 
    color: black; 
}

#para10 {
    background-color: pink; 
    color: darkred; 
}